.content {
  padding: 5rem 0;
}
.about,
.part {
  text-align: center;
}
.about__title {
  font-family: "MuseoSansCyrl-900";
  font-size: 2rem;
}
.about__title {
  position: relative;
  margin-bottom: 65px;
}
.about__title:after {
  content: '';
  position: absolute;
  width: 120px;
  height: 2px;
  background: #e02827;
  top: 140%;
  right: 50%;
  margin-right: -60px;
}
.about__text,
.part__text {
  font-size: 1rem;
  font-family: "MuseoSansCyrl-300";
  text-align: left;
  line-height: 1.5;
}
.order__title,
.part__title {
  font-size: 1.6rem;
  font-family: "MuseoSansCyrl-700";
  margin: 2rem 0;
}
.order__items {
  display: flex;
  justify-content: space-between;
}
.order__items .card {
  width: 170px;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.order__items .card__text {
  font-family: "MuseoSansCyrl-500";
  margin-top: 1.6rem;
}
.order__items .item {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  border: 1px solid #e02827;
  background: radial-gradient(#e02827 64%, #ffffff 66%);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}
.order__items .item .item__number {
  position: absolute;
  font-size: 1rem;
  font-family: "MuseoSansCyrl-700";
  top: 0;
  left: -2rem;
}
.dotted__line {
  width: 60px;
  height: 0;
  margin: 20px 0;
  padding: 0;
  border: none;
  border-top: 6px dotted #e02827;
  position: absolute;
  top: 50%;
  margin-top: -3px;
  left: 125%;
}
.sent__btn {
  background: #001535;
  padding: 0.8rem 1.3rem;
  border: 1px solid #001535;
  color: #fff;
  font-family: "MuseoSansCyrl-300";
  font-size: 0.8rem;
  border-radius: 2px;
  margin-top: 1rem;
  width: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
}
.sent__btn:hover {
  background: transparent;
  color: #001535;
}
.type__item {
  font-family: "MuseoSansCyrl-300";
  font-size: 1rem;
  text-align: left;
  margin-bottom: 0.5rem;
  position: relative;
}
.type__item:before {
  content: '';
  width: 10px;
  height: 10px;
  position: absolute;
  border: 1px solid #e02827;
  background: radial-gradient(#e02827 33%, #ffffff 45%);
  border-radius: 50%;
  top: 55%;
  margin-top: -5px;
  left: -1.5rem;
}
.advantage__item .advantage__item-text {
  margin-top: 1.5rem;
}
.bought__card {
  border: 1px solid #ccc;
}
.bought__card .bought__card-footer {
  background: #000;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}
.bought__card .bought__card-footer .model {
  color: #fff;
  font-size: 1rem;
}
.bought__card .bought__card-footer .price {
  font-size: 1rem;
}
.m-top {
  margin-top: 2rem;
}
.m-bottom {
  margin-bottom: 2rem;
}
